/* Container styling */
.slick-list {
  height: -webkit-fill-available;
}

.slick-track {
  height: -webkit-fill-available;
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-slide img {
  height: inherit !important;
}
