/* Container styling */
.slick-list {
  display: inline;
  height: auto;
  align-items: center;
}

.slick-track {
  display: inline;
  height: auto;
  align-items: center;
}

.slick-slide img {
  display: inline;
  height: -webkit-fill-available;
}
